[submodule "mongo-database"]
	path = mongo-database
	url = git@github.com:RunningClubApp/mongo-database.git
[submodule "type-validators"]
	path = type-validators
	url = git@github.com:RunningClubApp/type-validators.git
[submodule "distance-calculator"]
	path = distance-calculator
	url = git@github.com:RunningClubApp/distance-calculator.git
